<link href="https://fonts.cdnfonts.com/css/tw-cen-mt-std" rel="stylesheet">

<ion-toolbar>
  <ion-title class="tituloprincipal">
    Tareas
  </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">



  <ion-card class="haceresCard">
    <div class="card-content">
     
        
        <ion-grid>
          <ion-row>

            <ion-col size="6">
              <ion-title>
                Nombre Hogar
            </ion-title>
            </ion-col>
            <ion-col size="1">

            </ion-col>
            <ion-col size="1">
              <ion-avatar class="avatar2" >
                <img 
                  alt="Silhouette of a person's head"
                  src="https://ionicframework.com/docs/img/demos/avatar.svg"
                />
              </ion-avatar>
            </ion-col>
            <ion-col size="1">
              <ion-avatar class="avatar1" >
                <img 
                  alt="Silhouette of a person's head"
                  src="https://ionicframework.com/docs/img/demos/avatar.svg"
                />
              </ion-avatar>
            </ion-col>
            <ion-col size="1">
              <ion-avatar class="avatar3" >
                <img 
                  alt="Silhouette of a person's head"
                  src="https://ionicframework.com/docs/img/demos/avatar.svg"
                />
              </ion-avatar>
            </ion-col>
            <ion-col size="1">
              +1
            </ion-col>
            <ion-col size="1">
              <ion-icon name="home"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      
    </div>
  </ion-card>


  
  <ion-card class="tareasCard">
    <ion-card-header>
      <ion-row>
        <ion-col size="8" >  
          <ion-title>
          Limpiar Baños
          </ion-title>
    </ion-col>
        <ion-col size="1" class="estrella" style="margin-left: auto;">
          <ion-icon name="star"></ion-icon> 
        </ion-col>
        <ion-col size="1">3</ion-col>
      </ion-row>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-checkbox></ion-checkbox> 
        </ion-col>
        <ion-col size="2">
          1/2
        </ion-col>
        <ion-col size="1">
        <ion-icon name="thumbs-up"></ion-icon>
        </ion-col>
        <ion-col size="1">
          3
        </ion-col>
        <ion-col size="1">
        <ion-icon name="thumbs-down"></ion-icon>
        </ion-col>
        <ion-col size="1">
          1
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-col>
        <ion-col size="1">1</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="tareasCard">
    <ion-card-header>
      <ion-row>
        <ion-col size="8" >  
          <ion-title>
          Limpiar Comedor
          </ion-title>
    </ion-col>
        <ion-col size="1" class="estrella" style="margin-left: auto;">
          <ion-icon name="star-outline"></ion-icon>
        </ion-col>
        <ion-col size="1">1</ion-col>
      </ion-row>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="time-outline"></ion-icon>
        </ion-col>
        <ion-col size="2">
          13 Sept
        </ion-col>
        <ion-col size="1">
        <ion-icon name="thumbs-up"></ion-icon>
        </ion-col>
        <ion-col size="1">
          3
        </ion-col>
        <ion-col size="1">
        <ion-icon name="thumbs-down"></ion-icon>
        </ion-col>
        <ion-col size="1">
          1
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-col>
        <ion-col size="1">1</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="tareasCard">
    <ion-card-header>
      <ion-row>
        <ion-col size="8" >  
          <ion-title>
          Pagar Arriendo
          </ion-title>
    </ion-col>
        <ion-col size="1" class="estrella" style="margin-left: auto;">
          <ion-icon name="star-outline"></ion-icon>
        </ion-col>
        <ion-col size="1">2</ion-col>
      </ion-row>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-checkbox></ion-checkbox> 
        </ion-col>
        <ion-col size="2">
          1/3
        </ion-col>
        <ion-col size="1">
        <ion-icon name="thumbs-up"></ion-icon>
        </ion-col>
        <ion-col size="1">
          3
        </ion-col>
        <ion-col size="1">
        <ion-icon name="thumbs-down"></ion-icon>
        </ion-col>
        <ion-col size="1">
          1
        </ion-col>
        <ion-col size="1">
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-col>
        <ion-col size="1">1</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-fab class="custom-fab" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  




  
</ion-content>

    
    
    