ion-toolbar,ion-content {
    --background: #E7EDFF;
    --color: #7085FF;
}



ion-toolbar {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  ion-title {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Tw Cen MT Std', sans-serif;
    font-weight: 600;
  }


.header-row {
    display: flex;
    align-items: center;
  }
  
  .home-icon {
    font-size: 24px; /* Tamaño del icono ajustable según tus preferencias */
    margin-right: 10px; /* Espacio entre el icono y el texto (ajusta según sea necesario) */
    border: 2px solid  #7085FF; /* Agrega un borde cuadrado de 2px alrededor del icono */
    border-radius: 10px;
    padding: 5px; /* Añade espacio entre el icono y el borde (ajusta según sea necesario) */
  }
  
  .custom-title {
    font-size: 1.2rem; /* Tamaño del texto ajustable según tus preferencias */
    margin: 0;
  }
  



.logo-container {
    flex: 0 0 auto; /* No crece ni se encoge, tamaño fijo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Espacio entre el logo y el título (ajusta según sea necesario) */
    width: 200px; /* Ocupa todo el ancho disponible */
    height: 100px;
}

.title-text {
    flex: 1; /* Toma todo el espacio restante horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
}
.card-content {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Espacio igual entre los elementos */
}


ion-card-title.custom-title{
    font-size: 30px; 
    font-family: 'Tw Cen MT Std', sans-serif;
    font-weight: 600; /* Ajusta el grosor (negrita) */
    color: #7085FF

}

.avatar-container {
    position: relative;
}
  
ion-avatar.custom-avatar{
    width: 50px; /* Ajusta el ancho del avatar según sea necesario */
    height: 50px;
    right: -10px; /* Ajusta la cantidad de desplazamiento hacia la derecha según sea necesario */
    top: 0; /* Ajusta la posición vertical según sea necesario */
}

ion-avatar.custom-avatar2{
    width: 50px; /* Ajusta el ancho del avatar según sea necesario */
    height: 50px;
   
}

/* Cards */

.logrosCard {
    display: flex;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }

  ion-thumbnail img {
    width: 100px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 100px; /* Ajusta el tamaño de la imagen según tus preferencias */
    margin-right: 20px; /* Espacio entre la imagen y el contenido de texto (ajusta según sea necesario) */
  }
  
  .icon-title-container {
    display: flex;
    align-items: center;
  }
  
  ion-icon {
    font-size: 24px; /* Tamaño del icono ajustable según tus preferencias */
    margin-right: 2px; /* Espacio entre el icono y el texto (ajusta según sea necesario) */
  }
  
  .text-content {
    flex: 1;
  }
  
  ion-card-title {
    font-size: 1.2rem; /* Tamaño del título ajustable según tus preferencias */
    --color: #7085FF
  }
  
  ion-card-content {
    font-size: 1rem; /* Tamaño del contenido de texto ajustable según tus preferencias */
    --color: #7085FF; /* Color de texto para el contenido de texto (ajusta según sea necesario) */
  }

  .custom-button {
    font-size: 12px;
    font-family: Arial, sans-serif;
    max-width: 150px;
    font-family: 'Tw Cen MT Std', sans-serif;
    font-weight: 600; /* Ajusta el grosor (negrita) */
    --background: #FFFFFF;
    --color: #7085FF;
    padding: 6 6px;
    
  }

ion-card  {
    --background: #BFCAEE;
    --color: #7085FF;
}


.hogaresCard{
    
    --background: #FFFFFF;
    --color: #7085FF;

}



.nombreroomie{
    color:#FFFFFF; 
    
  }

.juanchip{
    --background: #7085FF;
}

.sarachip{
    --background: #E36F5C;
}

.miguelchip{
    --background: #34AD7F;
}




ion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-chip {
  margin-bottom: 0; /* Elimina el margen inferior del chip */
}

ion-col {
  flex: 1;
  text-align: center;
}

h1 {
  font-size: 1rem; /* Tamaño del texto ajustable según tus preferencias */
  margin: 0; /* Elimina el margen por defecto del h1 */
  font-family: 'Tw Cen MT Std', sans-serif;
font-weight: 600; /* Ajusta el grosor (negrita) */
  color: #7085FF;
}

.titlecard{
    font-size: 5 rem; 
    font-family: 'Tw Cen MT Std', sans-serif;
    font-weight: 600; /* Ajusta el grosor (negrita) */
    margin: 0; /* Elimina el margen por defecto del h1 */
    color: #7085FF;
}

.urgentechip{
    --background: #E36F5C;
    --color: #FFFFFF;
}